.badge.badge-active {
  color: #434343;
}

.block-views-blockchallenge-ideas-block {
  .block-title {
    text-align: center;
    font-size: 0.875rem;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .view-challenge-ideas {
    .challenge-ideas--wrapper {
      @media (min-width: 600px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      > div {
        margin-bottom: 1.25rem;
        @media (min-width: 600px) {
          width: 48%;
        }
      }
    }
    .challenge-ideas--more {
      text-align: right;
    }
    .more-link {
      display: inline-block;
      margin-left: auto;
      margin-top: 5px;
    }
  }
}

div.teaser.teaser--idea--featured {
  height: 100%;
  .teaser__title {
    min-height: 0;
    max-height: none;
    & + .teaser__content-line {
      margin-bottom: 1em;
      flex: 1 auto;
    }
  }
}

.view-challenge-ideas {
  .field--type-entity-reference,
  .field--type-entity-reference > .card {
    height: 100%;
  }
}

.page-title {
  .badge-accent {
    text-shadow: none;
  }
}

.hero-footer__cta {
  position: relative;
}


