.socialblue--sky {

  //Hero.
  .hero__group {
    .group-hero--wrapper {
      display: flex;
      align-items: baseline;
      justify-content: space-between;

      @media (max-width: 899px) {
        flex-direction: column;
      }
    }

    .group-hero--share-block {
      flex: 0 0 200px;
      max-width: 200px;
      padding-left: 30px;
      border-left: 3px solid #fff;
      text-shadow: none;

      @media (max-width: 899px) {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        margin-top: 1rem;
        flex: auto;
        max-width: none;
      }

      @media (max-width: 599px) {
        align-self: flex-start;
      }

      > span {
        position: relative;
        top: -10px;
        margin-bottom: 8px;
        font-size: .875rem;
        line-height: 21px;
      }

      .card__block > div {
        margin: 0;
        overflow: visible;
      }

      .card__title:empty {
        display: none;
      }

      .shariff,
      .card__block {
        padding: 0;

        ul {
          display: flex;
          margin: 0 -10px -10px !important;

          li {
            width: 40px;
            height: 40px;
            margin: 0 10px 10px;
            padding: 0 !important;
            border-radius: 50% !important;

            a {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 40px;
            }
          }
        }
      }
    }
  }

  .block-views-blockchallenge-ideas-block {
    .view-challenge-ideas {
      .challenge-ideas--wrapper {
        > div {
          margin-bottom: .75rem;
        }
      }
    }
  }
}
