.socialblue--sky .hero__group .group-hero--wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
@media (max-width: 899px) {
  .socialblue--sky .hero__group .group-hero--wrapper {
    flex-direction: column;
  }
}
.socialblue--sky .hero__group .group-hero--share-block {
  flex: 0 0 200px;
  max-width: 200px;
  padding-left: 30px;
  border-left: 3px solid #fff;
  text-shadow: none;
}
@media (max-width: 899px) {
  .socialblue--sky .hero__group .group-hero--share-block {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-top: 1rem;
    flex: auto;
    max-width: none;
  }
}
@media (max-width: 599px) {
  .socialblue--sky .hero__group .group-hero--share-block {
    align-self: flex-start;
  }
}
.socialblue--sky .hero__group .group-hero--share-block > span {
  position: relative;
  top: -10px;
  margin-bottom: 8px;
  font-size: 0.875rem;
  line-height: 21px;
}
.socialblue--sky .hero__group .group-hero--share-block .card__block > div {
  margin: 0;
  overflow: visible;
}
.socialblue--sky .hero__group .group-hero--share-block .card__title:empty {
  display: none;
}
.socialblue--sky .hero__group .group-hero--share-block .shariff,
.socialblue--sky .hero__group .group-hero--share-block .card__block {
  padding: 0;
}
.socialblue--sky .hero__group .group-hero--share-block .shariff ul,
.socialblue--sky .hero__group .group-hero--share-block .card__block ul {
  display: flex;
  margin: 0 -10px -10px !important;
}
.socialblue--sky .hero__group .group-hero--share-block .shariff ul li,
.socialblue--sky .hero__group .group-hero--share-block .card__block ul li {
  width: 40px;
  height: 40px;
  margin: 0 10px 10px;
  padding: 0 !important;
  border-radius: 50% !important;
}
.socialblue--sky .hero__group .group-hero--share-block .shariff ul li a,
.socialblue--sky .hero__group .group-hero--share-block .card__block ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.socialblue--sky .block-views-blockchallenge-ideas-block .view-challenge-ideas .challenge-ideas--wrapper > div {
  margin-bottom: 0.75rem;
}

/*# sourceMappingURL=social_challenge--sky.css.map */
