{% extends "node--hero--sky.html.twig" %}

{% block card_suffix %}
  {% if content.field_social_idea_image %}
    <div class="hero-image">
      {{ content.field_social_idea_image }}
    </div>
  {% endif %}
{% endblock %}

{% block metainfo %}
  <header class="metainfo">

    <div class="metainfo__avatar">
      {{ author_picture }}
    </div>

    <div class="metainfo__content">

      {{ author }}
      <span class="metainfo__published-date">&bullet; {{ created_date_formatted }} </span>
      <div>
        {% if group_link %}
          {% trans %} in challenge {% endtrans %}
          {{ group_link }}
        {% endif %}
      </div>

    </div>

    {{ content.links.moderation }}

    {% if resource_suggest %}
      <div class="hero-footer__cta">
        <div class="btn-group">
          {{ resource_suggest }}
        </div>
      </div>
    {% endif %}

  </header>
{% endblock %}

{% block metaengage %}
  <div class="meta-engage">

    {% if comment_field_status is not empty %}
      <a href="#section-comments" class="badge badge--large"
         title="{% trans %}Total amount of comments{% endtrans %}">
        <span class="badge__container">
          <svg class="badge__icon" aria-hidden="true">
            <title>{% trans %}Number of comments{% endtrans %}</title>
            <use xlink:href="#icon-comment"></use>
          </svg>
          <span class="badge__label">
            {{ comment_count }}
          </span>
          <span class="badge__label badge__label--description">
            {% trans %}
              comment
            {% plural comment_count %}
              comments
            {% endtrans %}
          </span>
        </span>
      </a>
    {% endif %}

    {% if views_count is not empty and views_label %}
      <div class="badge badge--large">
      <span class="badge__container">
        <svg class="badge__icon">
          <title>{% trans %}Number of views{% endtrans %}</title>
          <use xlink:href="#icon-views"></use>
        </svg>
        <span class="badge__label">
          {{ views_count }}
        </span>
        <span class="badge__label badge__label--description">{{ views_label }}</span>
      </span>
      </div>
    {% endif %}

    {% if content.flag_follow_content|render is not empty %}
      <div class="meta-follow">
        {{ content.flag_follow_content }}
      </div>
    {% endif %}

    {% if content.social_vote %}
      <div class="metainfo__vote">
        {{ content.social_vote }}
      </div>
    {% endif %}

    {% if requestcoauthorship_sky %}
      <div class="request-co-authorship">
        {{ requestcoauthorship_sky }}
      </div>
    {% endif %}

  </div>
{% endblock %}
