{% extends "node--full.html.twig" %}

{% block metainfo %}
  <header class="metainfo">
    {{ title_suffix }}
    <div class="metainfo__avatar">
      {{ author_picture }}
    </div>

    <div class="metainfo__content">

      {{ author }}
      <span class="metainfo__published-date">&bullet; {{ created_date_formatted }} </span>
      <div>
        {% if group_link %}
          {% trans %} in challenge {% endtrans %}
          {{ group_link }}
        {% endif %}
      </div>

    </div>

    {% if content.social_vote %}
      <div class="metainfo__vote">
        {{ content.social_vote }}
      </div>
    {% endif %}

    {{ content.links.moderation }}

  </header>
{% endblock %}

{% block nodefull_body %}
  <div class="idea-summary">
    {{ content.field_social_idea_summary }}
  </div>
  {{ content|without('flag_follow_content', 'field_social_idea_summary', 'social_vote', 'links') }}
{% endblock %}
