{% extends "node--social-idea--featured.html.twig" %}

{% block card_title %}

  <div class="teaser__header">
    {{ title_prefix.teaser_tag }}

    {% if idea_phase_name %}
      <div class="badge teaser__badge {{ idea_phase_class }}">
        {{ idea_phase_name }}
      </div>
    {% endif %}
  </div>

  {{ title_prefix|without('teaser_tag') }}
  <h4{{ title_attributes }} class="teaser__title">
    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
  </h4>
  {{ title_suffix }}

{% endblock %}
