 {# This file overrides node--social-idea--full.html.twig #}
{% extends "node--full--sky.html.twig" %}

{% block nodefull_body %}
 {{ title_suffix }}
 <div class="idea-summary">
   {{ content.field_social_idea_summary }}
 </div>
 {{ content|without('flag_follow_content', 'field_social_idea_summary', 'social_vote', 'links') }}
{% endblock %}
