{% extends "node--social-idea--teaser.html.twig" %}

{% block card_image %}
  {{ content.field_social_idea_image }}
{% endblock %}

{% block card_actionbar %}

  {% if idea_phase_name %}
    <div class="badge teaser__badge {{ idea_phase_class }}">
      {{ idea_phase_name }}
    </div>
  {% endif %}

  {% if votes_count is not empty %}
    <span class="badge teaser__badge">
        <span class="badge__container">
          <svg class="badge__icon" viewBox="0 0 90 89">
            <title>{% trans %}Number of votes{% endtrans %}</title>
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g fill-rule="nonzero" fill="#4d4d4d">
                  <polygon
                    transform="translate(46.000000, 44.931818) rotate(180.000000) translate(-46.000000, -44.931818)"
                    points="91 41.7062937 65.2857143 41.7062937 65.2857143 3 26.7142857 3 26.7142857 41.7062937 1 41.7062937 46 86.8636364"></polygon>
              </g>
            </g>
          </svg>
          <span class="badge__label vote__count">
            {{ votes_count }}
          </span>
        </span>
      </span>
  {% endif %}

  {% if comment_field_status is not empty %}
    <span class="badge teaser__badge">
        <span class="badge__container">
        <svg class="badge__icon">
          <title>{% trans %}Number of comments{% endtrans %}</title>
          <use xlink:href="#icon-comment"></use>
        </svg>
        <span class="badge__label">
          {{ comment_count }}
        </span>
      </span>
    </span>
  {% endif %}

  {% if content.social_vote and logged_in %}
    <div class="metainfo__vote">
      {{ content.social_vote }}
    </div>
  {% else %}
    {{ content.links }}
  {% endif %}

{% endblock %}
