{% extends "node--teaser.html.twig" %}

{% block card_image %}
  {{ content.field_social_idea_image }}
  {% if idea_phase_name %}
    <div class="badge teaser__badge {{ idea_phase_class }}">
      {{ idea_phase_name }}
    </div>
  {% endif %}
{% endblock %}

{% block card_teaser_type %}
  <div class="teaser__teaser-type">
    <svg class="teaser__teaser-type-icon" width="12" height="17" viewBox="0 0 12 17">
      <title id="idea-{{ node.id }}">{% trans %}Idea: &nbsp; {% endtrans %}{{- label|render|striptags|trim -}}</title>
      <defs>
        <polygon id="challange_icon-a" points="0 0 20 0 20 20 0 20"/>
      </defs>
      <g fill-rule="evenodd" transform="translate(-4 -2)">
        <mask id="challange_icon-b" fill="#fff">
          <use xlink:href="#challange_icon-a"/>
        </mask>
        <path fill-rule="nonzero"
              d="M7.42857143,18.15 C7.42857143,18.6175 7.81428571,19 8.28571429,19 L11.7142857,19 C12.1857143,19 12.5714286,18.6175 12.5714286,18.15 L12.5714286,17.3 L7.42857143,17.3 L7.42857143,18.15 Z M10,2 C6.69142857,2 4,4.669 4,7.95 C4,9.973 5.02,11.7495 6.57142857,12.829 L6.57142857,14.75 C6.57142857,15.2175 6.95714286,15.6 7.42857143,15.6 L12.5714286,15.6 C13.0428571,15.6 13.4285714,15.2175 13.4285714,14.75 L13.4285714,12.829 C14.98,11.7495 16,9.973 16,7.95 C16,4.669 13.3085714,2 10,2 Z M12.4428571,11.435 L11.7142857,11.945 L11.7142857,13.9 L8.28571429,13.9 L8.28571429,11.945 L7.55714286,11.435 C6.4,10.636 5.71428571,9.3355 5.71428571,7.95 C5.71428571,5.604 7.63428571,3.7 10,3.7 C12.3657143,3.7 14.2857143,5.604 14.2857143,7.95 C14.2857143,9.3355 13.6,10.636 12.4428571,11.435 Z"
              mask="url(#challange_icon-b)"/>
      </g>
    </svg>
  </div>
{% endblock %}

{% block card_body %}

  <div class="teaser__content-line">
    {% block field_body %} {{ content.field_social_idea_summary }} {% endblock %}
  </div>

  {% if content.group_name %}
    {% embed "node--teaser__field.html.twig" %}
      {%- block field_icon -%} group {%- endblock -%}
      {% block svg_title %} <title>{% trans %} Group {% endtrans %}</title> {% endblock %}
      {%- block field_value -%} {{ content.group_name }} {%- endblock -%}
    {% endembed %}
  {% endif %}

{% endblock %}

{% block card_actionbar %}

  {% embed "node--teaser__field.html.twig" %}
    {%- block field_icon -%} account_circle {%- endblock -%}
    {% block svg_title %} <title>{% trans %} Author name {% endtrans %}</title> {% endblock %}
    {%- block field_value %}
      <div class="teaser__published">
        <div class="teaser__published-author">{{ author_name }}
          {% if coauthors %}
            + {{ coauthors }} {% trans %}co-author{% plural coauthors %}co-authors{% endtrans %}
          {% endif %}
        </div>
      </div>
    {%- endblock -%}
  {% endembed %}


  <span class="badge__container">
  {% if votes_count is not empty %}
    <svg class="badge__icon" viewBox="0 0 90 89">
      <title>{% trans %}Number of votes{% endtrans %}</title>
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g fill-rule="nonzero" fill="#4d4d4d">
            <polygon
              transform="translate(46.000000, 44.931818) rotate(180.000000) translate(-46.000000, -44.931818)"
              points="91 41.7062937 65.2857143 41.7062937 65.2857143 3 26.7142857 3 26.7142857 41.7062937 1 41.7062937 46 86.8636364"></polygon>
        </g>
      </g>
    </svg>
    <span class="badge__label vote__count text-gray">
      {{ votes_count }}
    </span>
  {% endif %}

  {% if comment_field_status is not empty %}
    <div class="badge__container badge--pill">
      <svg class="badge__icon">
        <title>{% trans %}Number of comments{% endtrans %}</title>
        <use xlink:href="#icon-comment"></use>
      </svg>
      <span class="badge__label text-gray">
        {{ comment_count }}
      </span>
    </div>
  {% endif %}
  </span>

  {% if content.social_vote and logged_in %}
    <div class="metainfo__vote">
      {{ content.social_vote }}
    </div>
  {% else %}
    {{ content.links }}
  {% endif %}

{% endblock %}
