.socialblue--sky {
  .teaser-social-idea {
    .metainfo__vote {
      float: right;

      [dir='rtl'] & {
        float: left;
      }
    }

    .vote-widget {
      .vote-vote {
        .btn {
          min-width: 100px;
          padding: 1px 2rem 1px 7px;
          border-color: #4e4e4e;

          [dir='rtl'] & {
            padding-left: 2rem;
            padding-right: 1rem;
          }

          &.voted {
            background: #f3f3f3;
            border-color: #f3f3f3;
          }
        }

        .icon-vote {
          margin-right: .75rem;

          [dir='rtl'] & {
            margin-right: 0;
            margin-left: .75rem;
          }
        }

        .vote__label {
          font-size: .75rem;
          text-transform: initial;
        }
      }
    }

    .card__actionbar {
      .badge {
        vertical-align: middle;
      }
    }
  }

  .idea-summary {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0 1.25rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;

    @media (min-width: 900px) {
      padding: 0 2.5rem;
      margin-top: 0;
      margin-bottom: 1.5rem;
      font-size: 1.4rem;
    }
  }
}
