.idea-summary {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  margin: 1.25rem -1.25rem;
  padding: 1.25rem;
  font-size: 1.2rem;
  font-weight: 500;
}
@media (min-width: 900px) {
  .idea-summary {
    padding: 2.5rem;
    margin: 2.5rem -2.5rem;
    font-size: 1.4rem;
  }
}

div.teaser.teaser-social-idea.teaser--tile .teaser__title {
  min-height: 0;
}
div.teaser.teaser-social-idea.teaser--tile .teaser__title + .teaser__content-line {
  margin-bottom: 1em;
}

.teaser-social-idea .badge__container .badge__icon {
  margin-right: 6px;
}
.teaser-social-idea .badge__container .badge__label {
  font-size: 0.875rem;
  color: #777;
}

.badge.badge-active {
  color: #434343;
}

.teaser-social-idea:not(.teaser--tile) .teaser__image .badge {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}
.teaser-social-idea:not(.teaser--tile) .teaser__content-line {
  overflow: hidden;
  position: relative;
  line-height: 21px;
  max-height: 42px;
  padding-right: 1em;
}
.teaser-social-idea:not(.teaser--tile) .teaser__content-line:before {
  content: "...";
  position: absolute;
  right: 0;
  bottom: 0;
}
.teaser-social-idea:not(.teaser--tile) .teaser__content-line:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

.teaser-social-idea.teaser--stream .teaser__title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 22px;
}
.teaser-social-idea.teaser--stream .teaser__content-line:after {
  background-color: #e6e6e6;
}

.card__block--table tbody tr td.views-field-vote-source {
  word-break: break-all;
}

/*# sourceMappingURL=social_idea.css.map */
