.socialblue--sky .teaser-social-idea .metainfo__vote {
  float: right;
}
[dir=rtl] .socialblue--sky .teaser-social-idea .metainfo__vote {
  float: left;
}
.socialblue--sky .teaser-social-idea .vote-widget .vote-vote .btn {
  min-width: 100px;
  padding: 1px 2rem 1px 7px;
  border-color: #4e4e4e;
}
[dir=rtl] .socialblue--sky .teaser-social-idea .vote-widget .vote-vote .btn {
  padding-left: 2rem;
  padding-right: 1rem;
}
.socialblue--sky .teaser-social-idea .vote-widget .vote-vote .btn.voted {
  background: #f3f3f3;
  border-color: #f3f3f3;
}
.socialblue--sky .teaser-social-idea .vote-widget .vote-vote .icon-vote {
  margin-right: 0.75rem;
}
[dir=rtl] .socialblue--sky .teaser-social-idea .vote-widget .vote-vote .icon-vote {
  margin-right: 0;
  margin-left: 0.75rem;
}
.socialblue--sky .teaser-social-idea .vote-widget .vote-vote .vote__label {
  font-size: 0.75rem;
  text-transform: initial;
}
.socialblue--sky .teaser-social-idea .card__actionbar .badge {
  vertical-align: middle;
}
.socialblue--sky .idea-summary {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0 1.25rem;
  border: none;
  font-size: 1.2rem;
  font-weight: 500;
}
@media (min-width: 900px) {
  .socialblue--sky .idea-summary {
    padding: 0 2.5rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
  }
}

/*# sourceMappingURL=social_idea--sky.css.map */
