{#
/**
 * @file phase.html.twig
 * Default theme implementation to present Phase data.
 *
 * This template is used when viewing Phase entity.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_phase()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('social_challenge_phase/social_challenge_phase')}}
<div{{ attributes.addClass('phase') }}>
  {% if content %}
    {% if is_past %}
      <div class="phase-past--icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="14" viewBox="0 0 18 14">
          <title>{% trans %}Phase was finished{% endtrans %}</title>
          <g fill="none" fill-rule="evenodd" transform="translate(-3 -5)">
            <polygon points="0 0 24 0 24 24 0 24"/>
            <polygon fill="#bdb844" fill-rule="nonzero" class="checkmark-icon" points="9 16.2 4.8 12 3.4 13.4 9 19 21 7 19.6 5.6"/>
          </g>
        </svg>
      </div>
    {% endif %}
    {{ content.field_phase_title }}
    {{ content.field_phase_date }}
  {% endif %}
</div>
