{#
/**
 * @file phase.html.twig
 * Default theme implementation to present Phase data.
 *
 * This template is used when viewing Phase entity.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_phase()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('social_challenge_phase/social_challenge_phase')}}
<div{{ attributes.addClass('phase', 'phase-active') }}>
  {% if content %}
    {{ content }}
  {% endif %}
  <div class="permissions">
    <h6>{{ 'Permissions'|t }}</h6>
    <div class="permission_line">
      <a class="{{ permission.view_idea_in_phase ? 'active' : '' }}" onclick="event.preventDefault()" href="#">
        <span class="badge__container">
          <svg class="permission__icon" xmlns="http://www.w3.org/2000/svg" width="22" height="16" viewBox="0 0 22 16">
            <g fill-rule="evenodd" transform="translate(-1 -4)">
              <path fill-rule="nonzero"
                    d="M12,4.5 C7,4.5 2.73,7.61 1,12 C2.73,16.39 7,19.5 12,19.5 C17,19.5 21.27,16.39 23,12 C21.27,7.61 17,4.5 12,4.5 Z M12,17 C9.24,17 7,14.76 7,12 C7,9.24 9.24,7 12,7 C14.76,7 17,9.24 17,12 C17,14.76 14.76,17 12,17 Z M12,9 C10.34,9 9,10.34 9,12 C9,13.66 10.34,15 12,15 C13.66,15 15,13.66 15,12 C15,10.34 13.66,9 12,9 Z"/>
            </g>
          </svg>
        </span>
        <span class="popup">
          {{ 'View ideas'|t }}
        </span>
      </a>
      <a class="{{ permission.vote_in_phase ? 'active' : '' }}" onclick="event.preventDefault()" href="#">
        <span class="badge__container">
          <svg class="permission__icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-like"></use>
          </svg>
        </span>
        <span class="popup">
          {{ 'Vote on ideas'|t }}
        </span>
      </a>
      <a class="{{ permission.comment_in_phase ? 'active' : '' }}" onclick="event.preventDefault()" href="#">
        <span class="badge__container">
          <svg class="permission__icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-comment"></use>
          </svg>
        </span>
        <span class="popup">
          {{ 'Comment on ideas'|t }}
        </span>
      </a>
      <a class="{{ permission.edit_idea_in_phase ? 'active' : '' }}" onclick="event.preventDefault()" href="#">
        <span class="badge__container">
          <svg class="permission__icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-edit"></use>
          </svg>
        </span>
        <span class="popup">
          {{ 'Edit ideas'|t }}
        </span>
      </a>
      <a class="{{ permission.create_idea_in_phase ? 'active' : '' }}" onclick="event.preventDefault()" href="#">
        <span class="badge__container">
          <svg class="permission__icon" xmlns="http://www.w3.org/2000/svg" width="12" height="17" viewBox="0 0 12 17">
            <path
              d="M1113.42857,873.15 C1113.42857,873.6175 1113.81429,874 1114.28571,874 L1117.71429,874 C1118.18571,874 1118.57143,873.6175 1118.57143,873.15 L1118.57143,872.3 L1113.42857,872.3 L1113.42857,873.15 Z M1116,857 C1112.69143,857 1110,859.669 1110,862.95 C1110,864.973 1111.02,866.7495 1112.57143,867.829 L1112.57143,869.75 C1112.57143,870.2175 1112.95714,870.6 1113.42857,870.6 L1118.57143,870.6 C1119.04286,870.6 1119.42857,870.2175 1119.42857,869.75 L1119.42857,867.829 C1120.98,866.7495 1122,864.973 1122,862.95 C1122,859.669 1119.30857,857 1116,857 Z M1118.44286,866.435 L1117.71429,866.945 L1117.71429,868.9 L1114.28571,868.9 L1114.28571,866.945 L1113.55714,866.435 C1112.4,865.636 1111.71429,864.3355 1111.71429,862.95 C1111.71429,860.604 1113.63429,858.7 1116,858.7 C1118.36571,858.7 1120.28571,860.604 1120.28571,862.95 C1120.28571,864.3355 1119.6,865.636 1118.44286,866.435 Z"
              transform="translate(-1110 -857)"/>
          </svg>
        </span>
        <span class="popup">
          {{ 'Create ideas'|t }}
        </span>
      </a>
      <span class="badge badge-accent">
          {{ 'Active'|t }}
        </span>
    </div>
  </div>
</div>
