{#
/**
 * @file
 * The template file for the vote and disvote links.
 *
 * Template used to display icons for the vote and disvote links.
 *
 * Available variables:
 *   - votes : The number of votes.
 *   - entity_id : The id of the entity for which is the vote is done.
 *   - entity_type : The entity type id of the entity for which the vote is
 *     done.
 */
#}
<div class="vote-widget vote-widget--social-vote">
  {% for type, icon in icons %}
    <div class="vote__wrapper">
      <div class="vote__count">
        {% if logged_in %}
          <a class="use-ajax" data-dialog-options='{"title":"{{ modal_title }}","width":"auto"}'
             data-dialog-type="modal" href="/whovoted/{{ entity_type }}/{{ entity_id }}">
            {{ icon.count }}
          </a>
        {% else %}
          {{ icon.count }}
        {% endif %}
      </div>
      <div class="vote-vote type-{{ entity_type }}" id="vote-container-{{ entity_type }}-{{ entity_id }}">
        <a {{ icon.attributes }} aria-hidden="true" title="{% trans %}Number of votes{% endtrans %}">
          <svg id="icon-vote" class="icon-vote" viewBox="0 0 90 89" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <title>{% trans %}Number of votes{% endtrans %}</title>
            <g id="Page-1" stroke="#000" stroke-width="1" fill="#000" fill-rule="evenodd">
              <g id="Only-for-display" fill-rule="nonzero">
                <polygon id="Shape" transform="translate(46.000000, 44.931818) rotate(180.000000) translate(-46.000000, -44.931818) " points="91 41.7062937 65.2857143 41.7062937 65.2857143 3 26.7142857 3 26.7142857 41.7062937 1 41.7062937 46 86.8636364"></polygon>
              </g>
            </g>
          </svg>
          <svg id="icon-voted" class="icon-vote" width="84px" height="84px" viewBox="0 0 84 84" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>{% trans %}Number of votes{% endtrans %}</title>
            <g id="Page-1" stroke="#000" stroke-width="1" fill="#000" fill-rule="evenodd">
              <path d="M42,0 C18.816,0 0,18.816 0,42 C0,65.184 18.816,84 42,84 C65.184,84 84,65.184 84,42 C84,18.816 65.184,0 42,0 Z M34.0714286,63 L13,41.8867562 L18.9421429,35.9328215 L34.0714286,51.049904 L66.0578571,19 L72,24.9961612 L34.0714286,63 Z" id="Shape" fill="#000000" fill-rule="nonzero"></path>
            </g>
          </svg>
          <span class="vote__label">
            {% if icon.attributes.hasClass('voted') %}
              {% trans %}voted{% endtrans %}
            {% else %}
              {% trans %}vote{% plural icon.count %}votes{% endtrans %}
            {% endif %}
          </span>
        </a>
      </div>
    </div>
  {% endfor %}
</div>
