{% extends "group--small-teaser.html.twig" %}

{% block teaser_image %}
  <div class="teaser--small__media">
    {% if content['field_group_image'] | render | striptags('<img>') is not empty %}
      {{ content['field_group_image'] }}
    {% else %}
      <svg class="teaser--small__type-icon">
        <title>{% trans %}Challenge{% endtrans %}</title>
        <use xlink:href="#icon-challenge"></use>
      </svg>
    {% endif %}
  </div>
{% endblock %}

{% block extra_text %}
  <span class="teaser__content-text">
  {{ 'Ideation phase' |t }} &middot;
    {% trans %}
      1 participant
    {% plural group_members %}
      @count participants
    {% endtrans %}
  </span>
{% endblock %}
