{#
/**
 * @file
 * Default theme implementation to display a group.
 *
 * Available variables:
 * - group: The group entity with limited access to object properties and
 *   methods. Only "getter" methods (method names starting with "get", "has",
 *   or "is") and a few common methods such as "id" and "label" are available.
 *   Calling other methods (such as group.delete) will result in an exception.
 * - label: The title of the group.
 * - content: All group items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the
 *   printing of a given child element.
 * - url: Direct URL of the current group.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - group: The current template type (also known as a "theming hook").
 *   - group--[type]: The current group type. For example, if the group is a
 *     "Classroom" it would result in "group--classroom". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - group--[view_mode]: The View Mode of the group; for example, a
 *     teaser would result in: "group--teaser", and full: "group--full".
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 *
 * @see template_preprocess_group()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('socialbase/hero')}}

{%
  set cover_classes = [
  'cover',
  group_hero_styled_image_url ? 'cover-img cover-img-gradient',
]
%}

<div{{ attributes.addClass(cover_classes) }} {% if group_hero_styled_image_url %} style="background-image: url('{{ group_hero_styled_image_url }}');" {% endif %}>
  {% if group_edit_url %}
    <div class="hero-action-button">
      <a href="{{ group_edit_url }}" title="{% trans %}Edit challenge{% endtrans %}" class="btn btn-default btn-floating">
        <title>{% trans %}Edit challenge{% endtrans %}</title>
        <svg class="icon-gray icon-medium">
          <use xlink:href="#icon-edit"></use>
        </svg>
      </a>
    </div>
  {% endif %}
  <div class="cover-wrap">
    <header class="page-title">
      <h1>{{ content.label }}</h1>
      <p>
        <span>
          {% trans %}1 idea {% plural challenge_ideas_count %} @count ideas{% endtrans %}
        </span>
        <span>&nbsp;&bullet;&nbsp;</span>
        <span>
          {% trans %}1 participant {% plural group_members %} @count participants{% endtrans %}
        </span>
      </p>
      {% if challenge_phase_name %}
        <div class="badge badge-accent">
          {{ challenge_phase_name }} | {{ challenge_phase_date }}
        </div>
      {% endif %}
    </header>
    <footer class="hero-footer">
      <div class="hero-footer__text">
      </div>

      {{ join }}
    </footer>
  </div> {# cover-wrap #}
</div> {# cover #}
