<div class="card__counter">
  <ul>
    <li>
      <span class="card__counter-quantity">{{ challenge_ideas_count }}</span>
      <span class="card__counter-text">{% trans %}idea{% plural challenge_ideas_count %}ideas{% endtrans %}</span>
    </li>
    <li>
      <span class="card__counter-quantity">{{ group_members }}</span>
      <span class="card__counter-text">{% trans %}participant{% plural group_members %}participants{% endtrans %}</span>
    </li>
    <li>
      <span class="card__counter-quantity">{{ challenge_phases_count }}</span>
      <span class="card__counter-text">{% trans %}phase{% plural challenge_phases_count %}phases{% endtrans %}</span>
    </li>

  </ul>
</div>

{{ join }}

<footer class="card__actionbar">
  <a href="{{ url }}" class="card__link">
    {% trans %}See challenge information{% endtrans %}
  </a>
</footer>
