{% extends 'group--featured.html.twig' %}

{% block card_teaser_type %}
  <a href="{{ url }}" aria-hidden="true" title="{% trans %}Challenge: &nbsp; {% endtrans %}{{- label|render|striptags|trim -}}">
    <div class="teaser__teaser-type">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
           class="teaser__teaser-type-icon" >
        <title id="group-{{ group.id.value }}">{% trans %}Challenge: &nbsp; {% endtrans %}{{- label|render|striptags|trim -}}</title>
        <path d="M0 0h24v24H0z" fill="none"/>
        <path
          d="M12.65 10C11.83 7.67 9.61 6 7 6c-3.31 0-6 2.69-6 6s2.69 6 6 6c2.61 0 4.83-1.67 5.65-4H17v4h4v-4h2v-4H12.65zM7 14c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"/>
      </svg>
    </div>
  </a>
{% endblock %}

{% block card_body %}
  <small class="text-muted">

    <div class="teaser__content-line">
      <svg class="teaser__content-type-icon" aria-hidden="true">
        <title>{% trans %} Number of participants {% endtrans %}</title>
        <use xlink:href="#icon-group"></use>
      </svg>
      <span class="teaser__content-text">
        <span class="sr-only">{% trans %}The challenge has{% endtrans %}</span>
        {% trans %}1 participant{% plural group_members %}@count participants{% endtrans %} <span class="sr-only">&nbsp;</span>
    </span>
    </div>

    <div class="teaser__content-line">
      <svg aria-hidden="true" class="teaser__content-type-icon"  xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink" width="12" height="17" viewBox="0 0 12 17">
        <title>{% trans %} Number of ideas {% endtrans %}</title>
        <defs>
          <polygon id="challange_icon-a" points="0 0 20 0 20 20 0 20"/>
        </defs>
        <g fill="none" fill-rule="evenodd" transform="translate(-4 -2)">
          <mask id="challange_icon-b" fill="#fff">
            <use xlink:href="#challange_icon-a"/>
          </mask>
          <path fill="#4C4C4C" fill-rule="nonzero"
                d="M7.42857143,18.15 C7.42857143,18.6175 7.81428571,19 8.28571429,19 L11.7142857,19 C12.1857143,19 12.5714286,18.6175 12.5714286,18.15 L12.5714286,17.3 L7.42857143,17.3 L7.42857143,18.15 Z M10,2 C6.69142857,2 4,4.669 4,7.95 C4,9.973 5.02,11.7495 6.57142857,12.829 L6.57142857,14.75 C6.57142857,15.2175 6.95714286,15.6 7.42857143,15.6 L12.5714286,15.6 C13.0428571,15.6 13.4285714,15.2175 13.4285714,14.75 L13.4285714,12.829 C14.98,11.7495 16,9.973 16,7.95 C16,4.669 13.3085714,2 10,2 Z M12.4428571,11.435 L11.7142857,11.945 L11.7142857,13.9 L8.28571429,13.9 L8.28571429,11.945 L7.55714286,11.435 C6.4,10.636 5.71428571,9.3355 5.71428571,7.95 C5.71428571,5.604 7.63428571,3.7 10,3.7 C12.3657143,3.7 14.2857143,5.604 14.2857143,7.95 C14.2857143,9.3355 13.6,10.636 12.4428571,11.435 Z"
                mask="url(#challange_icon-b)"/>
        </g>
      </svg>
      <span class="teaser__content-text">
        <span class="sr-only">{% trans %}The challenge has{% endtrans %}</span>
        {% trans %}
          1 idea
        {% plural challenge_ideas_count %}
          @count ideas
        {% endtrans %}
      </span>
    </div>

    <div class="teaser__content-line">
      {% if challenge_phase_name %}
        <svg aria-hidden="true" class="teaser__content-type-icon" xmlns="http://www.w3.org/2000/svg" width="14" height="11"
             viewBox="0 0 14 11">
          <title>{% trans %} Active phase {% endtrans %}</title>
          <g fill="none" fill-rule="evenodd" transform="translate(-1)">
            <polygon points="0 1 17 1 17 18 0 18"/>
            <path fill="#4C4C4C" fill-rule="nonzero"
                  d="M4.25,0.541666667 L2.125,0.541666667 C1.73541667,0.541666667 1.41666667,0.860416667 1.41666667,1.25 L1.41666667,9.75 C1.41666667,10.1395833 1.73541667,10.4583333 2.125,10.4583333 L4.25,10.4583333 C4.63958333,10.4583333 4.95833333,10.1395833 4.95833333,9.75 L4.95833333,1.25 C4.95833333,0.860416667 4.63958333,0.541666667 4.25,0.541666667 Z M14.1666667,0.541666667 L12.0416667,0.541666667 C11.6520833,0.541666667 11.3333333,0.860416667 11.3333333,1.25 L11.3333333,9.75 C11.3333333,10.1395833 11.6520833,10.4583333 12.0416667,10.4583333 L14.1666667,10.4583333 C14.55625,10.4583333 14.875,10.1395833 14.875,9.75 L14.875,1.25 C14.875,0.860416667 14.55625,0.541666667 14.1666667,0.541666667 Z M9.20833333,0.541666667 L7.08333333,0.541666667 C6.69375,0.541666667 6.375,0.860416667 6.375,1.25 L6.375,9.75 C6.375,10.1395833 6.69375,10.4583333 7.08333333,10.4583333 L9.20833333,10.4583333 C9.59791667,10.4583333 9.91666667,10.1395833 9.91666667,9.75 L9.91666667,1.25 C9.91666667,0.860416667 9.59791667,0.541666667 9.20833333,0.541666667 Z"/>
          </g>
        </svg>
        <span class="teaser__content-text">
          <span class="sr-only">{% trans %}The challenge phase{% endtrans %}</span>
          {{ challenge_phase_name }}
        </span>
      {% endif %}
    </div>

  </small>
{% endblock %}

{% block card_actionbar %}

  {% if not closed_group_lock %}
    <div class="badge teaser__badge">
      <svg class="badge__icon">
        <title>{% trans %}The visibility of this content is set to public{% endtrans %}</title>
        <use xlink:href="#icon-public"></use>
      </svg>
    </div>
  {% endif %}

  {% if challenge_phase_status %}
    <span class="badge teaser__badge badge-active">
      {{ challenge_phase_status }}
    </span>
  {% endif %}

  {% if joined %}
    <span class="badge teaser__badge badge-default">
      {% trans with {'context': 'Is a member'} %}You have joined{% endtrans %}
    </span>
  {% endif %}

  {% if not hide_card_link %}
    <a href="{{ url }}" class="card__link" title="{{ label }}">
      {% trans %}Read more{% endtrans %}
    </a>
  {% endif %}


{% endblock %}
