.main-ideas-advancement-settings,
.additional-ideas-advancement-settings {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -8px;

  > div {
    padding: 0 8px;
  }

  .form-group {
    margin-bottom: 0;

    .form-item {
      margin-bottom: 1rem;
    }

  }

}

.main-ideas-advancement-settings {

  .form-type-checkbox {

    label {
      margin-bottom: 0;
    }

  }

  select {
    width: 171px;
  }

}

.additional-ideas-advancement-settings {

  > div {
    margin-bottom: 0;

    &:first-child {
      flex: 0 0 100%;
      max-width: 100%;

      > * {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.4;
        margin-bottom: 1rem;
      }

    }

  }

  .form-item {
    display: flex;
    align-items: center;

    label {
      margin-bottom: 0;
      padding-right: 16px;

      &.form-required {
        padding-right: 13px;
      }

    }

  }

  .field--name-field-phase-auto-advance-count {

    input {
      width: 75px;
    }

  }

  .field--name-field-phase-auto-advance-param {

    select {
      width: 100px;
    }

  }

  .field--name-field-phase-auto-advance-source {

    select {
      width: 265px;
    }

  }

}
