.view-challenge-phases {
  padding: 10px 20px 20px 45px;
  position: relative;
}
.view-challenge-phases:before {
  content: "";
  position: absolute;
  left: 24px;
  bottom: 65px;
  top: 40px;
  width: 2px;
  background-color: #c5cad3;
}

.phase {
  padding: 16px;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #8b8b8b;
  position: relative;
}
.phase:not(.phase-past):before {
  content: "";
  position: absolute;
  left: -27px;
  top: 27px;
  border: 1px solid #fff;
  background: #9b9b9b;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.phase .field--name-field-phase-title .field--item {
  font-weight: 500;
}
.phase .field--type-daterange {
  font-size: 0.75rem;
}
.phase .field--name-field-phase-description {
  margin: 15px 0;
}
.phase.phase-past .phase-past--icon {
  display: flex;
  align-items: center;
  width: 19px;
  height: 33px;
  background-color: #fff;
  position: absolute;
  top: 18px;
  right: 100%;
  margin-right: 10px;
}
.phase.phase-past .phase-past--icon .checkmark-icon {
  fill: red;
}
.phase.phase-past:not(:last-child):before {
  content: "";
  position: absolute;
  right: 100%;
  width: 2px;
  top: 18px;
  bottom: -30px;
  margin-right: 20px;
}
.phase.phase-active {
  color: #000;
  background-color: #f9f9f9;
  border-color: #f5f5f5;
}
.phase.phase-active:before {
  background-color: #bdb844;
}
.phase.phase-active:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 27px;
  margin-right: -5px;
  width: 12px;
  height: 12px;
  background-color: #f9f9f9;
  border-top: 1px solid #f5f5f5;
  border-left: 1px solid #f5f5f5;
  transform: rotate(-45deg);
}
.phase.phase-active .badge {
  padding: 5px 10px;
  margin: -1px 0 0 auto;
}

.permissions .permission_line {
  display: flex;
}
.permissions .permission_line a {
  position: relative;
}
.permissions .permission_line a:not(:first-child) {
  margin-left: 7px;
}
.permissions .permission_line a:hover {
  fill: #000;
}
.permissions .permission_line a .permission__icon {
  width: 21px;
  height: 18px;
  fill: #b2b2b2;
}
.permissions .permission_line a:hover .permission__icon,
.permissions .permission_line a:focus .permission__icon,
.permissions .permission_line a.active .permission__icon {
  fill: #000;
}
.permissions .permission_line a:hover .popup,
.permissions .permission_line a:focus .popup {
  display: block;
}
.permissions .permission_line a .popup {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  padding: 7px 15px;
  font-size: 12px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  z-index: 10;
  display: none;
}

/*# sourceMappingURL=social_challenge_phase.css.map */
