.view-challenge-phases {
  padding: 10px 20px 20px 45px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 24px;
    bottom: 65px;
    top: 40px;
    width: 2px;
    background-color: #c5cad3;
  }
}

.phase {
  padding: 16px;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #8b8b8b;
  position: relative;
  &:not(.phase-past) {
    &:before {
      content: '';
      position: absolute;
      left: -27px;
      top: 27px;
      border: 1px solid #fff;
      background: #9b9b9b;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      box-shadow: 0 0 2px rgba(black, 0.5);
    }
  }
  .field--name-field-phase-title {
    .field--item {
      font-weight: 500;
    }
  }
  .field--type-daterange {
    font-size: 0.75rem;
  }
  .field--name-field-phase-description {
    margin: 15px 0;
  }
  &.phase-past {
    .phase-past--icon {
      display: flex;
      align-items: center;
      width: 19px;
      height: 33px;
      background-color: #fff;
      position: absolute;
      top: 18px;
      right: 100%;
      margin-right: 10px;

      .checkmark-icon {
        fill: red;
      }
    }
    &:not(:last-child) {
      &:before {
        content: '';
        position: absolute;
        right: 100%;
        width: 2px;
        top: 18px;
        bottom: -30px;
        margin-right: 20px;
      }
    }
  }
  &.phase-active {
    color: #000;
    background-color: #f9f9f9;
    border-color: #f5f5f5;
    &:before {
      background-color: #bdb844;
    }
    &:after {
      content: '';
      position: absolute;
      right: 100%;
      top: 27px;
      margin-right: -5px;
      width: 12px;
      height: 12px;
      background-color: #f9f9f9;
      border-top: 1px solid #f5f5f5;
      border-left: 1px solid #f5f5f5;
      transform: rotate(-45deg);
    }
    .badge {
      padding: 5px 10px;
      margin: -1px 0 0 auto;
    }
  }
}

.permissions {
  .permission_line {
    display: flex;
    a {
      position: relative;
      &:not(:first-child) {
        margin-left: 7px;
      }
      &:hover {
        fill: #000;
      }
      .permission__icon {
        width: 21px;
        height: 18px;
        fill: #b2b2b2;
      }
      &:hover,
      &:focus,
      &.active {
        .permission__icon {
          fill: #000;
        }
      }
      &:hover,
      &:focus {
        .popup {
          display: block;
        }
      }
      .popup {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        padding: 7px 15px;
        font-size: 12px;
        color: white;
        background-color: rgba(black, 0.6);
        border-radius: 3px;
        z-index: 10;
        display: none;
      }
    }
  }
}

