.main-ideas-advancement-settings,
.additional-ideas-advancement-settings {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -8px;
}
.main-ideas-advancement-settings > div,
.additional-ideas-advancement-settings > div {
  padding: 0 8px;
}
.main-ideas-advancement-settings .form-group,
.additional-ideas-advancement-settings .form-group {
  margin-bottom: 0;
}
.main-ideas-advancement-settings .form-group .form-item,
.additional-ideas-advancement-settings .form-group .form-item {
  margin-bottom: 1rem;
}

.main-ideas-advancement-settings .form-type-checkbox label {
  margin-bottom: 0;
}
.main-ideas-advancement-settings select {
  width: 171px;
}

.additional-ideas-advancement-settings > div {
  margin-bottom: 0;
}
.additional-ideas-advancement-settings > div:first-child {
  flex: 0 0 100%;
  max-width: 100%;
}
.additional-ideas-advancement-settings > div:first-child > * {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 1rem;
}
.additional-ideas-advancement-settings .form-item {
  display: flex;
  align-items: center;
}
.additional-ideas-advancement-settings .form-item label {
  margin-bottom: 0;
  padding-right: 16px;
}
.additional-ideas-advancement-settings .form-item label.form-required {
  padding-right: 13px;
}
.additional-ideas-advancement-settings .field--name-field-phase-auto-advance-count input {
  width: 75px;
}
.additional-ideas-advancement-settings .field--name-field-phase-auto-advance-param select {
  width: 100px;
}
.additional-ideas-advancement-settings .field--name-field-phase-auto-advance-source select {
  width: 265px;
}

/*# sourceMappingURL=social_challenge_phase.admin.css.map */
