.vote-widget {
  display: inline-block;
  vertical-align: middle;
}

.vote-widget .vote-disvote {
  display: none;
}

.vote-widget--social-vote .vote__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1.75;
}

.vote-widget--social-vote.card__link .vote-vote {
  background-color: transparent;
}

.vote-widget--social-vote .vote__count {
  cursor: pointer;
  width: 57px;
  background-color: black;
  color: white;
  border-radius: 7px 0 0 7px;
  text-align: center;
  font-size: 1rem;
  position: relative;
}
.vote-widget--social-vote .vote__count .ajax-throbber {
  position: absolute;
  right: 105%;
  top: 0;
}
.vote-widget--social-vote .vote__count a {
  display: block;
  color: inherit;
}

.vote-widget--social-vote .vote-vote {
  background-color: #e6e6e6;
  border-radius: 0 7px 7px 0;
  min-width: 80px;
  color: black;
  font-size: .875rem;
  line-height: 2;
  text-transform: uppercase;
}
.vote-widget--social-vote .vote-vote a {
  display: block;
  text-align: center;
  cursor: pointer;
}

.icon-vote {
  width: 18px;
  height: 18px;
  padding: 0 1px;
  line-height: 1;
  fill: transparent;
  stroke: #4d4d4d;
  stroke-width: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  vertical-align: text-top;
}

svg[class^="icon-vote"] {
  vertical-align: text-bottom;
}

.vote__count .use-ajax {
  outline: 0;
}

.vote-widget a.disable-status {
  cursor: default;
}

.vote-widget a.disable-status .icon-vote {
  fill: transparent;
  stroke: #4d4d4d;
}

.vote-widget .icon-vote {
  height: 14px;
  width: 14px;
  vertical-align: middle;
  margin-bottom: 3px;
}

.vote-widget a.voted #icon-vote {
  display: none;
}

.vote-widget a:not(.voted) #icon-vote {
  display: inline;
}

.vote-widget a:not(.voted) #icon-voted {
  display: none;
}

.vote-widget a.voted #icon-voted {
  display: inline;
}

.view-who-voted-this-entity .row {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  padding: 0.5rem 0;
  display: flex;
  width: 100%;
}

.view-who-voted-this-entity .row:last-child {
  border-bottom: 0;
}

.view-who-voted-this-entity .views-field-rendered-entity-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 54px;
  flex: 0 0 54px;
}

.view-who-voted-this-entity .views-field-rendered-entity-1 a:focus {
  outline: 0;
}

.view-who-voted-this-entity .views-field-name {
  -webkit-box-flex: 2;
  -ms-flex: 2 1 auto;
  flex: 2 1 auto;
  min-width: 0;
}

.view-who-voted-this-entity .views-field-name a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.view-who-voted-this-entity .views-field-view-user {
  display: none;
}

.view-who-voted-this-entity .mini-pager {
  background-image: none;
}

@media (min-width: 600px) {
  .vote-vote a:hover .icon-vote {
    stroke: black;
    fill: transparent;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .vote-vote a:hover.voted-vote .icon-vote,
  .vote-vote a:hover.disable-status .icon-vote {
    fill: #4d4d4d;
    stroke: #4d4d4d;
    -webkit-transform: none;
    transform: none;
  }
}

@media (min-width: 900px) {
  .view-who-voted-this-entity {
    width: 500px;
  }

  .view-who-voted-this-entity .views-field-view-user {
    margin-right: 0;
    display: block;
  }

  .view-who-voted-this-entity .views-field-view-user a {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 0.875rem;
    line-height: 1.5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
    outline: 0;
  }
}

@media (max-width: 599px) {
  .vote-widget {
    width: 100%;
  }

  .vote__wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .vote-vote {
    margin-right: 10px;
  }

  .icon-vote {
    width: 22px;
    height: 22px;
  }
}
